/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
sall, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	cursor: default;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

a {
	cursor: pointer;
}

ol, ul, li {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Style 
/////////////////////////////////////////////////////////////////// */

.wrap-mid {
	margin: 0 auto;
	width: 730px;
}

.wrap-lg {
	margin: 0 auto;
	max-width: 3000px;
}

header {
	background-color: rgba(255, 255, 255, .5);
	display: block;
	height: 110px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

header.sticky {
	box-shadow: 0px 0px 5px #666;
	font-size: 16px;
	height: 95px; 
	background-color: #fff;
	opacity: 1;
	position: fixed;
	width: 100%;
	z-index: 99;
}

#logo {
	margin: 12px 0 0 40px;
	position: absolute;
}

#logo img {
	cursor: pointer;
}

#nav {
	margin: 40px auto 0 auto;
	width: 530px;
}

#nav li {
	display: inline-block;
	font-family: "azo-sans-web",sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	padding: 0 16px;
	text-align: center;
	text-transform: uppercase;
}

#nav a {
	color: rgba(0, 0, 0, .75);
	cursor: pointer;
	text-decoration: none;
}

#nav a:hover {
	color: #FFC2C2;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#fa-icons {
	color: rgba(0, 0, 0, .75);
	float: right;
	margin: -25px 50px 0 0;
}

.fa {
	color: rgba(0, 0, 0, .8);
	cursor: pointer;
	display: inline-block;
	padding: 10px;
}

.fa:hover {
	color: #FFC2C2;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

article {
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
	text-align: center;
	vertical-align: middle;
}

article>.inner {
	display: table-cell;
	vertical-align: middle;
	padding: 100px 0;
}

#content {
	height: 100%;
	width: 100%;
}

#home {
	background: url(../img/strawberry.jpg);
	background-size: cover;
	height: 750px;
}

#about h2 {
	border-bottom: 1px solid #47B3E2;
	color: rgba(0, 0, 0, .75);
	font-family: "azo-sans-web",sans-serif;
	font-size: 34px;
	font-style: normal;
	font-weight: 200;
	text-align: center;
	margin-bottom: 60px;
	padding: 40px 0 25px 0;
}

#about p {
	color: rgba(0, 0, 0, .85);
	font-family: "azo-sans-web",sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 300;
	line-height: 43px;
	text-align: left;
}

#about figure {
	margin-top: 40px;
}

#about blockquote {
	color: rgba(0, 0, 0, .85);
	font-family: 'Vollkorn', serif;
	font-size: 24px;
	font-style: italic;
	font-weight: 400;
	line-height: 32px;
	margin: 40px auto;
	text-align: center;
	width: 380px;
}

#about blockquote span {
	color: #87D187;
	font-family: "azo-sans-web",sans-serif;
	font-style: normal;
	font-weight: 500;
}

#menu {
	background: url(../img/pans.jpg);
	background-size: cover;
}

#menu dl {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	margin: 220px auto;
	padding: 35px 0;
	position: relative;
}

#menu dt {
	color: rgba(0, 0, 0, .75);
	font-family: "azo-sans-web",sans-serif;
	font-size: 38px;
	font-style: normal;
	font-weight: 300;
	padding: 10px;
}

#menu span {
	font-family: "grafolita-script", italic;
	font-size: 45px;
}

#menu-text h2 {
	border-bottom: 1px solid #47B3E2;
	color: rgba(0, 0, 0, .75);
	font-family: "azo-sans-web",sans-serif;
	font-size: 34px;
	font-style: normal;
	font-weight: 200;
	text-align: center;
	margin-bottom: 60px;
	padding-bottom: 25px;
}

#menu-text p {
	font-family: "azo-sans-web",sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 300;
	line-height: 43px;
	text-align: center;
	padding-bottom: 30px;
}

#menu-text a {
	color: #64A4FF;
	font-style: normal;
	font-weight: 400;
	margin-bottom: 100px;
	text-decoration: none;
}

#menu-text a:hover {
	color: #99CCFF;
}

#menu-text img {
	margin-top: 50px;
	max-width: 730px;
}

#menu-text figcaption {
	color: #666;
	font-family: "azo-sans-web",sans-serif;
	font-size: 16px;
	font-style: italic;
	font-weight: 200;
	padding-top: 8px;
	text-align: left;
}

#catering {
	background: url(../img/trike.jpg);
	background-size: cover;
}

#catering h1 {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	margin: 250px auto;
	padding: 35px;
	position: relative;
	max-width: 500px;

	color: rgba(0, 0, 0, .75);
	font-family: "azo-sans-web",sans-serif;
	font-size: 38px;
	font-style: normal;
	font-weight: 300;
	line-height: 50px;
}

#catering-text h2 {
	border-bottom: 1px solid #47B3E2;
	color: rgba(0, 0, 0, .75);
	font-family: "azo-sans-web",sans-serif;
	font-size: 34px;
	font-style: normal;
	font-weight: 200;
	text-align: center;
	margin-bottom: 60px;
	padding-bottom: 25px;
}

#catering-text p {
	font-family: "azo-sans-web",sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 300;
	line-height: 40px;
	text-align: center;
	margin-bottom: 40px;
}

#catering-text img {
	margin-top: 15px;
	max-width: 730px;
}

#catering span{
	color: rgb(0, 0, 0);
	font-family: "grafolita-script", italic;
	font-size: 44px;
}

#contact {
	background: url(../img/pint.jpg);
	background-size: cover;
}

#contact-text {
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 5px;
	margin-top: 85px;
	margin-bottom: 100px;
	padding: 22px 16px;
	padding: 30px;
	position: relative;
	text-align: center;
	width: 450px;
}

#contact-text h1 {
	border-bottom: 1px solid;
	border-color: rgba(0, 0, 0, .5);
	color: rgba(0, 0, 0, .75);
	font-family: "azo-sans-web",sans-serif;
	font-size: 30px;
	font-style: normal;
	font-weight: 300;
	padding-bottom: 15px;
	text-align: center;
}

#contact-text p {
	color: rgba(0, 0, 0, .75);
	font-family: "azo-sans-web",sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: 300;
	line-height: 26px;
	margin: 30px auto;
}

#contact-text a {
	color: #3385FF;
	font-family: "azo-sans-web",sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: 300;
	margin-bottom: 100px;
	text-decoration: none;
}

#contact-text a:hover {
	color: #70B8FF;
}

#contact-text img {
	margin: 20px 0 20px 0;
}

#contact-text i {
	color: rgba(0, 0, 0, .75);
	font-size: 20px;
	padding: 10px 5px;
}

#contact-text i:hover {
	color: #FFC2C2;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

footer {
	display: block;
	width: 100%;
}

footer p {
	color: #666;
	font-family: 'Arial', sans-serif;
	font-size: 11px;
	width: 300px;
	display: block;
	margin: 25px auto;
}

#error-intro {
	border-radius: 5px;
	margin: -700px auto 440px auto;
	padding: 30px;
	position: relative;
}

#error-intro h1 {
	color: rgba(255, 255, 255, .85);
	font-family: "grafolita-script", italic;	
	font-size: 70px;
	font-weight: 100;
	text-align: center;
}

#error-intro p {
	color: rgba(0, 0, 0, .7);
	font-family: "azo-sans-web", sans-serif;
	font-size: 38px;
	font-style: normal;
	font-weight: 300;
	line-height: 50px;
	margin: 0 auto;
	padding: 30px 0;
	text-align: center;
	width: 480px;
}
